# 1. Le déclencheur quotidien (Fils)
0 1 * * * root /usr/bin/rsnapshot alpha

# 2. Le déclencheur hebdomadaire (Père)
0 2 * * 1 root /usr/bin/rsnapshot beta

# 3. Le déclencheur mensuel (Grand-père)
0 3 1 * * root /usr/bin/rsnapshot gamma

#
